body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.header > * {
    width: 33%;
}
.header > span > h1,
.header > span > h2 {
    margin-top: 5px;
    margin-bottom: 0;
}
.header > span > h2 {
    font-size: min(3vw, 20px);
}
.header > h2 {
    display: flex;
    align-items: end;
    font-size: min(1.5vw, 15px);
    margin: 0;
}
.header > h2 > a {
    color: #fff;
    text-decoration: none;
}
.content {
    margin: 15px;
}
.image-container {
    text-align: center;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.controls {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }
.controls button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: #333;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .controls button:hover {
            background-color: #666;
        }